<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {% include 'main/includes/header.html' %}
</head>
<body>
{% load staticfiles %}
<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- Header Banner Area Start -->
    <div class="veperdebanner col-md-12 col-sm-12 pl-0 pr-0 mb-90">
        <img src="{% static 'img/bg/banner-deneme.png' %}" height="250px"/>
    </div>
    <!-- Header Banner Area Start -->
    <!-- Page Content Start -->
    <section class="page-content-area ptb-120">
        <div class="container centered">

            <!-- Content Left Area -->
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 pb-60">
                <!-- Section Titel -->
                <div class="sml-titel text-center">
                    <h2>VEPERDE</h2>
                </div>
                <!-- Section Titel -->
                <div class="yazaroltext">
                    <p style="text-align:justify;">
                        <strong>
                            Veperde’nin kuruluş amacı, düzenli tiyatro seyircisine yorum ve eleştirilerini bir
                            platformda paylaşma imkanı sunmak ve henüz izlemedikleri oyunlar hakkında bilgi
                            edinmelerini sağlamaktır.<br><br>
                            Veperde’nin izlediği oyunu alkışlamanın ötesine geçmek isteyen seyirciye aracılık
                            yapmaktan başka bir hedefi yoktur. Herhangi bir tiyatro akımı veya topluluğuyla
                            ilişkisi
                            yoktur. Oyuncu, yönetmen ve kurum tutmaz. Seyircilerin özgür fikirlerine saygılıdır.<br><br>
                            Veperde yazarları büyük sanat düşünürleri değildir! İzledikleri oyunlar hakkında
                            gerçekçi düşüncelerini özgürce ve sade bir dille paylaşırlar. Veperde yazarları
                            eleştirilerinde şahsi hakaret, küfür ve tiyatro bağlamını aşan ifadeler
                            kullanmazlar. Bu
                            tip eleştiriler editörler tarafından kaldırılacaktır. Veperde'de düşüncelerini
                            paylaşmak
                            isteyen herkes yazar olabilir. Yazar olmak için ‘Yazar Olun’ sekmesindeki formu
                            doldurmanız yeterlidir. Sorularınız, yorumlarınız ve şikayetleriniz için
                            <u>veperdeinfo@gmail.com</u> adresine mail atabilirsiniz. </strong></p>
                </div>
            </div>

            {% if not request.user.is_authenticated %}
                <div class="container centered">
                    <form class='col-md-4 col-md-offset-4 col-sm-12 ptb-60' method="post" action=".">
                        <h2 class="text-center">Kaydol</h2>
                        {% csrf_token %}
                        {% if message %}<small>{{ message }}</small>{% endif %}
                        <div>
                            <label for="username">Kullanıcı Adı:</label>
                            <input type="text" name="username" id="username" required {% if username %}value="{{ username }}"{% endif %}>
                            <label class="mt-15" for="email">E-mail:</label>
                            <input type="email" name="email" required {% if email %}value="{{ email }}"{% endif %}>
                            <label class="mt-15" for="password">Şifre:</label>
                            <input type="text" name="password" required>
                        </div>
                        <!-- {{ form.as_p }} -->
                        <div class="form-button mtb-20">
                            <button type="submit">Kaydol</button>
                        </div>
                    </form>
                </div>
            {% endif %}

        </div>
    </section>
    <!-- Page Content End -->

</div>
<!-- Body main wrapper end -->

{% include 'main/includes/footer.html' %}
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.maskedinput/1.3.1/jquery.maskedinput.js"></script>
<script type="text/javascript">
    $.mask.definitions['h'] = "[a-zA-Z0-9 ]";
    $('#username').mask('h?hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh');
</script>
</body>

</html>
